<div class="flex flex-col md:flex-row ">
    <div>
        <app-side-navigation></app-side-navigation>
    </div>
    <div class="w-full ">
        <app-dashboard-header></app-dashboard-header>
        <p class="m-8">
            <a href="javascript:history.back()">
                <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M6.58501 13.01L0.575012 6.99999L6.58501 0.98999L8.00001 2.40399L3.40001 7.00399L8.00001 11.604L6.58601 13.01H6.58501ZM12.01 13.01L5.99901 6.99999L12.01 0.98999L13.424 2.40399L8.82401 7.00399L13.424 11.604L12.011 13.01H12.01Z" fill="#6b7280"/>
                </svg>
            </a>
        </p>
        <div class="detail-size overflow-auto ">
            <div class="flex flex-col mt-5 lg:m-0 items-center">
                <div class="flex flex-row justify-around items-center">
                    
                    <div class=" hidden md:block rounded-xl shadow-lg h-150 w-150 px-5 pb-3 pt-1 border-2 border-gray-100">
                        <div class="flex flex-row jusify-around items-center">
                            <div class="font-bold pr-5">
                                Reward:
                            </div>
                            <div>
                                    <svg *ngIf="task.isuitgevoerd==='f'" style="cursor: pointer;" (click)="modalHandler(true, 'modal1')" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1.41999 18.5789C1.13948 18.5784 0.872062 18.4601 0.682993 18.2529C0.490439 18.0474 0.394758 17.7694 0.419993 17.4889L0.664993 14.7949L11.983 3.48091L15.52 7.01691L4.20499 18.3299L1.51099 18.5749C1.47999 18.5779 1.44899 18.5789 1.41999 18.5789ZM16.226 6.30991L12.69 2.77391L14.811 0.652906C14.9986 0.465129 15.2531 0.359619 15.5185 0.359619C15.7839 0.359619 16.0384 0.465129 16.226 0.652906L18.347 2.77391C18.5348 2.96147 18.6403 3.216 18.6403 3.48141C18.6403 3.74681 18.5348 4.00134 18.347 4.18891L16.227 6.30891L16.226 6.30991Z" fill="#6b7280"/>
                                    </svg>                                
                            </div>
                        </div>
                        
                        <div class=" h-8 flex justify-center">
                            <div class=" mt-2 w-20 theme_button_color rounded-xl flex flex-row justify-center items-center text-center ">
                                <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8 12.25C11.3137 12.25 14 9.89949 14 7C14 4.1005 11.3137 1.75 8 1.75C4.68629 1.75 2 4.1005 2 7C2 9.89949 4.68629 12.25 8 12.25Z" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M9.33333 5.25H6.66667C6.29848 5.25 6 5.51117 6 5.83333V8.16667C6 8.48883 6.29848 8.75 6.66667 8.75H9.33333C9.70152 8.75 10 8.48883 10 8.16667V5.83333C10 5.51117 9.70152 5.25 9.33333 5.25Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>                                                                
                                <span class="ml-2">{{task.aantalpuntenwaard}}</span>
                                
                            </div>  
                        </div>
                        
                    </div>

                    <div class="py-12 transition duration-150 ease-in-out" style="width: 50vw;" id="modal1">
                        <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
                            <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
                                <form [formGroup]="rewardForm">
                                    <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Edit reward</h1>
                                    <label for="reward" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Reward</label>
                                    <input formControlName="reward" id="reward" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" value="{{task.aantalpuntenwaard}}"/>
                                    <div class="flex items-center justify-start w-full">
                                        <button class="focus:outline-none transition duration-150 ease-in-out theme_button_color text-black rounded px-8 py-2 text-sm" (click)="onSubmitReward()">Submit</button>
                                        <button class="focus:outline-none ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm" (click)="modalHandler(false, 'modal2')">Cancel</button>
                                    </div>
                                    <div class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out" (click)="modalHandler(false, 'modal2')">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-label="Close" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" />
                                            <line x1="18" y1="6" x2="6" y2="18" />
                                            <line x1="6" y1="6" x2="18" y2="18" />
                                        </svg>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>

                    <div class="py-12 transition duration-150 ease-in-out" style="width: 50vw;" id="modal2">
                        <div role="alert" class="container mx-auto w-11/12 md:w-2/3 max-w-lg">
                            <div class="relative py-8 px-5 md:px-10 bg-white shadow-md rounded border border-gray-400">
                                <form [formGroup]="descriptionForm">
                                    <h1 class="text-gray-800 font-lg font-bold tracking-normal leading-tight mb-4">Edit task</h1>
                                    
                                    <label for="title" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Title</label>
                                    <input formControlName="title" id="title" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm border-gray-300 rounded border" value="{{task.titel}}"/>

                                    <label for="categories" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Categories</label>
                                    <ng-multiselect-dropdown formControlName="categories" id="categories" class="mb-5 mt-2 text-gray-600 focus:outline-none focus:border focus:border-indigo-700 font-normal w-full h-10 flex items-center pl-3 text-sm" 
                                    [placeholder]="'Select one or more categories'"
                                    [settings]="dropdownSettings"
                                    [data]="dropdownList"
                                    [(ngModel)]="selectedItems"
                                    >
                                    </ng-multiselect-dropdown>

                                    <label for="description" class="text-gray-800 text-sm font-bold leading-tight tracking-normal">Description</label>                                    
                                    <textarea formControlName="description" class="inputshadow no-resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="description" *ngIf="task.omschrijving === null">Write your description about the task here.</textarea>
                                    <textarea formControlName="description" class="inputshadow no-resize appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500 h-48 resize-none" id="description" value="{{task.omschrijving}}">{{task.omschrijving}}</textarea>                                    

                                    <div class="flex items-center justify-start w-full">
                                        <button class="focus:outline-none transition duration-150 ease-in-out theme_button_color text-black rounded px-8 py-2 text-sm" (click)="onSubmitDescription()">Submit</button>
                                        <button class="focus:outline-none ml-3 bg-gray-100 transition duration-150 text-gray-600 ease-in-out hover:border-gray-400 hover:bg-gray-300 border rounded px-8 py-2 text-sm" (click)="modalHandler(false, 'modal2')">Cancel</button>
                                    </div>
                                    <div class="cursor-pointer absolute top-0 right-0 mt-4 mr-5 text-gray-400 hover:text-gray-600 transition duration-150 ease-in-out" (click)="modalHandler(false, 'modal2')">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-label="Close" class="icon icon-tabler icon-tabler-x" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                            <path stroke="none" d="M0 0h24v24H0z" />
                                            <line x1="18" y1="6" x2="6" y2="18" />
                                            <line x1="6" y1="6" x2="18" y2="18" />
                                        </svg>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                    <img id="image" class="w-2/3 md:w-2/3 lg:w-2/6 rounded-3xl shadow-xl" src="../../../../../../assets/images/influencer.jpg" alt="Influencer profile picture">
                    
                    <div class="hidden md:block rounded-xl h-50 w-50 px-3 pb-3 pt-1 border-2 border-gray-100 shadow-xl">
                        <div>
                            <span class="font-bold">Status:</span>
                            <div class=" mt-3 flex items-center justify-center w-full">
  
                                <div *ngIf="task.isuitgevoerd==='t'; then thenBlock else elseBlock"></div>
                                <ng-template #thenBlock>Winner selected</ng-template>
                                <ng-template #elseBlock>No winner selected</ng-template>                                             
                            
                            </div>
                        </div>
                    </div>

                </div>
                
                <div class="rounded-3xl border-2 border-gray-100 shadow-xl h-full px-2 pb-3 w-3/4 md:w-8/12 mt-10 md:mt-5">
                    <div class="flex flex-row justify-center font-bold text-center max-w-full mt-2 md:mt-5 mb-2 md:mb-5">
                        {{task.titel}}
                        <div class="pl-5">
                        <svg *ngIf="task.isuitgevoerd==='f'" style="cursor: pointer;" (click)="modalHandler(true, 'modal2')" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.41999 18.5789C1.13948 18.5784 0.872062 18.4601 0.682993 18.2529C0.490439 18.0474 0.394758 17.7694 0.419993 17.4889L0.664993 14.7949L11.983 3.48091L15.52 7.01691L4.20499 18.3299L1.51099 18.5749C1.47999 18.5779 1.44899 18.5789 1.41999 18.5789ZM16.226 6.30991L12.69 2.77391L14.811 0.652906C14.9986 0.465129 15.2531 0.359619 15.5185 0.359619C15.7839 0.359619 16.0384 0.465129 16.226 0.652906L18.347 2.77391C18.5348 2.96147 18.6403 3.216 18.6403 3.48141C18.6403 3.74681 18.5348 4.00134 18.347 4.18891L16.227 6.30891L16.226 6.30991Z" fill="#6b7280"/>
                        </svg>
                    </div>
                    </div>
                    <div class="text-gray-500 text-sm font-semibold text-center">
                        
                        <div class="text-gray-500 text-sm text-center">
                            <div *ngFor="let category of task.categories">
                                <div *ngIf="category != 'All'">
                                    {{category}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex flex-row justify-center font-bold text-center max-w-full mt-2 md:mt-5">
                        Description
                    </div>
                    
                    <div class=" text-sm text-center max-w-full mt-2 md:mt-5">
                        {{task.omschrijving}}
                    </div>
                </div>
            
            </div>
            
            <div class="mt-10 flex flex-col items-center">
                <div class="font-bold text-blue-500 uppercase text-sm">
                    posts
                </div>
                <div>
                    <p class="font-bold text-lg">Total posts: {{task.postcount}}</p>
                </div>
            </div>
    

                <div class="flex flex-col justify-center items-center space-y-10 md:flex-wrap md:flex-row md:space-x-2" id="posts">
                    <div *ngFor="let post of posts">
                        <app-my-posts-card [post]="post" [taskId]="task.id" [winnerId]="task.winnaarid" style="cursor: pointer;"></app-my-posts-card> 
                    </div>  
                </div>  
                      
               
                
            
        </div>
    </div>

</div>




