<div class="container mx-auto w-full px-8">
    <app-header></app-header>

    <div class="flex lg:hidden justify-center ">
        <!-- <img class="md:h-80 " src="../../assets/images/banner.jpg" alt=""> -->
    </div>
    <div class="flex flex-row justify-center text-center lg:justify-between mt-5 lg:mb-10 lg:mt-20 items-center align-middle">
        <div class="flex flex-col lg:justify-start lg:items-start lg:w-2/4 xl:w-3/4 md:mx-0 lg:mx-0">
            <h1 class="text-2xl md:text-3xl lg:text-4xl xl:text-5xl font-bold  ">
                Discover our joined cities.
            </h1>
            <p class="text-sm lg:text-left md:text-sm lg:w-auto text-gray-500 mt-1">
                Did your city join? Discover now!
            </p>
        </div>
        <div class="hidden lg:block">
            <img class="image rounded-full shadow-xl" src="../../assets/images/photograph2_sq.png" alt="">
        </div>
    </div>

    <div class="flex flex-col items-center md:items-stretch justify-center md:flex-row md:justify-center md:flex-wrap">
        <div *ngFor="let city of cities" class="md:my-5">
            <app-city-card [city]="city"></app-city-card>
        </div>
    </div>

    
    <app-footer></app-footer>
</div>

