input:checked ~ .dot {
    transform: translateX(100%);
    background-color: #00ff00 ;
  }

input:checked ~ .line {
    background-color: #006622;
  }

.dot {
  background-color: #ff0000;
}

.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar{
  display: none;
}