<div class="container mx-auto w-full px-8">

    
    <app-header></app-header>

    <div class="flex lg:hidden justify-center">
        <img class="banner md:h-80" src="../../assets/images/banner.jpg" alt="">
    </div>
    <div class="flex flex-row justify-between mt-5 lg:mt-20 items-center align-middle">
        <div class=" lg:w-2/4 xl:w-3/4 md:ml-5 lg:ml-0">
            <h1 class="text-1xl md:text-3xl lg:text-4xl xl:text-5xl font-bold  ">
                Download the City Influencers app <br> and start promoting!!!.
            </h1>
            <p class="text-tiny w-44 md:text-sm md:w-80 lg:w-auto text-gray-500 mt-1">
                City influencers is an app where local influencers can promote your city and receive rewards.            </p>
            <button class="buttonColor hover:bg-blue-700 text-black font-bold py-1 px-3 text-tiny md:text-lg md:py-2 md:px-4 lg:px-8 mt-5 rounded-full">
                <span class="text-sm">DOWNLOAD APP</span>
              </button>
        </div>
        <div>
            
        </div>
        <div class="hidden lg:block">
            <img class="image rounded-full" src="../../assets/images/phone_sq.png" alt="">
        </div>
    </div>
    
    
    
    <app-footer></app-footer>
</div>

