<div class="w-52 h-full md:w-44 shadow-lg my-5 mx-5 rounded-3xl rounded-br-none">
    <img class="rounded-t-3xl h-3/6 w-full" src={{city.image}} alt="City profile foto">
    <div class="ml-2 mt-3">
        <div class="flex flex-row">
            <img class="w-6 mr-1" src="../../../assets/images/cityIcon.png" alt="City Icon">
            <p>{{ city.naam }}</p>
        </div>
        <div>
            <div class="text-gray-500 text-sm flex flex-row"> 
                <img class="w-6 mr-1" src="../../../assets/images/locationIcon.png" alt="">
                <p>{{ city.postcode }}</p>
            </div>
        </div>
    </div>
</div>