.theme_button_color {
    background-color: #27DFEB ;
    /* transition-duration: 0.5s;
     transition-timing-function: ease-in-out; */
 }
 
 .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.scrollbar-hidden::-webkit-scrollbar{
    display: none;
}