<div class="container mx-auto w-full px-8">
    <div class="nav">
        <app-header></app-header>
    </div>


    <div class="flex lg:hidden justify-center">
        <img class="md:h-80 rounded-xl" src="../../assets/images/photograph_long.jpg" alt="">
    </div>

    <div id="header"  class="flex flex-row justify-center lg:justify-between mt-5 lg:mt-0 items-center align-middle">

        <div class=" lg:w-2/4 xl:w-3/4 md:ml-5 lg:ml-0">
            <h1 class="text-1xl md:text-3xl lg:text-4xl xl:text-5xl font-bold  ">
                Instantly promote your city <br> with your local influencers.
            </h1>
            <p class="text-sm w-44 md:text-sm md:w-80 lg:w-auto text-gray-500 mt-1">
                City Influencers is an app where local influencers can sign up and promote your city to receive rewards.
            </p>


            <div class="lg:flex lg:flex-col lg:justify-center w-11/12 md:w-6/12  mt-5 xl:w-1/4">
                <h3 class=" lg:hidden text-sm md:text-sm lg:text-xl xl:text-xl font-bold text-center ">
                    Get started:
                </h3>
                <div class="flex justify-center text-center" >

                    <a [routerLink]="['/download-page']" class="m-2 w-32 rounded-full font-semibold theme_button_color block px-x py-1 text-gray-700 lg:border-0">
                        Influencer </a>

                    <a [routerLink]="['/login']" class="m-2 w-32 rounded-full font-semibold theme_button_color block px-x py-1 text-gray-700 lg:border-0">
                        City </a>
                </div>


            </div>

        </div>
        <div>
            
            
        </div>
        <div id="headerPhoto" class="hidden lg:block">
            <img class="image rounded-full shadow-xl" src="../../assets/images/instaheart_sq.png" alt="">
        </div>
    </div>

    

    
    <div class="howitworks">
        <app-how-it-works ></app-how-it-works>
    </div>
    
    


    <div class="howitworks flex flex-row justify-center mt-10 mb-32">
        <div class="mt-3 ml-12 md:ml-28 md:mt-0">
            <a [routerLink]="['/login']" class=" uppercase md:text-3xl font-bold w-20 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700">city</a>
        </div>
        <div class="flex flex-col w-60">
            <div>
                <svg class="mx-auto w-24 md:w-auto" width="160" height="65" viewBox="0 0 167 65" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.58905 9.21519C0.431751 9.44215 0.488222 9.75365 0.715183 9.91095L4.41373 12.4743C4.64069 12.6316 4.9522 12.5751 5.1095 12.3482C5.2668 12.1212 5.21032 11.8097 4.98336 11.6524L1.69577 9.37387L3.9743 6.08627C4.1316 5.85931 4.07513 5.54781 3.84817 5.39051C3.6212 5.23321 3.3097 5.28968 3.1524 5.51664L0.58905 9.21519ZM83.4994 64.025C84.0876 52.2612 80.6642 35.3838 68.4434 22.9988C56.1993 10.5903 35.2223 2.78782 0.91081 9.00802L1.08919 9.99198C35.1777 3.81219 55.784 11.5931 67.7316 23.7012C79.7025 35.8329 83.0791 52.4055 82.5006 63.975L83.4994 64.025Z" fill="black"/>
                <path d="M166.473 4.89317C166.631 5.12013 166.574 5.43163 166.347 5.58893L162.649 8.15228C162.422 8.30958 162.11 8.25311 161.953 8.02615C161.796 7.79919 161.852 7.48768 162.079 7.33038L165.367 5.05185L163.088 1.76425C162.931 1.53729 162.987 1.22579 163.214 1.06849C163.441 0.911186 163.753 0.967658 163.91 1.19462L166.473 4.89317ZM83.563 59.7029C82.9748 47.9392 86.3982 31.0618 98.619 18.6768C110.863 6.26824 131.84 -1.5342 166.152 4.686L165.973 5.66996C131.885 -0.509834 111.278 7.27106 99.3308 19.3792C87.3599 31.5108 83.9833 48.0835 84.5618 59.653L83.563 59.7029Z" fill="black"/>
                </svg>
            </div>
            <div class="uppercase text-center text-tiny md:text-base md:pt-3">i am</div>
        </div>
        <div class="mt-3 md:mt-0">
            <a routerLink="download-page"class="uppercase none md:text-3xl font-bold w-20 lg:hover:bg-transparent lg:border-0 lg:hover:text-blue-700">influencer</a>
        </div>
    </div>
    <div>
        <app-footer></app-footer>

    </div>
</div>


