<div id="howItWorks" class="flex flex-col justify-center items-center mt-16 md:mt-24 lg:mt-28">
    <h3 class="uppercase font-bold text-blue-500 text-xs md:text-lg"> how it works</h3>
    <h3 class="font-bold text-black text-lg md:text-3xl">Getting started is so simple.</h3>
</div>

<div class="flex flex-col md:flex-row justify-around md:h-72 mt-8">
    <div class="flex justify-center items-start">
        <div class="w-56">
            <img class="h-32 rounded-2xl border-2" src="../../assets/images/CI.png" alt="CI logo">
            <p class="text-lg font-bold mt-3">
                Join City Influencers <br>
                and start promoting.
            </p>
        </div>
    </div>
    <div class="flex justify-center items-start mt-6">
        <div class="w-56">
            <img class="h-32 rounded-2xl border-2" src="../../assets/images/influencer.jpg" alt="influencer">
            <p class="text-lg font-bold mt-3">
                Promote with an 
                influencer.
            </p>
        </div>
    </div>
    <div class="flex justify-center items-start mt-6 md:mt-12">
        <div class="w-56">
            <img class="h-32 rounded-2xl border-2" src="../../assets/images/growFinancial.jpg" alt="">
            <p class="text-lg font-bold mt-3">
                Start growing locally!
            </p>
        </div>
    </div>
</div>


